body {
  font-family: "Roboto", sans-serif;
  // Jumbotron
  .jumbo {
    display: flex;
    background: linear-gradient(
      to bottom,
      rgb(10, 25, 82),
      50%,
      rgb(5, 10, 52),
      100%,
      rgb(0, 0, 17)
    );
    .container {
      margin-bottom: 120px;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
        color: white;
        max-width: 340px;
        h1 {
          font-weight: 600;
        }
        h2 {
          font-size: 40px;
        }
        p {
          max-width: 320px;
          margin: 20px 0;
          color: rgb(5, 108, 155);
          font-size: 12px;
        }
        .btn {
          color: white;
          font-size: smaller;
          padding: 7px 26px;
          border: none;
          border-radius: 30px;
          &.try {
            background: linear-gradient(
              to left,
              rgb(255, 101, 108),
              50%,
              rgb(166, 49, 84),
              100%,
              rgb(151, 32, 101)
            );
            &:hover {
              box-shadow: 0 5px 10px 5px rgba(255, 101, 109, 0.2);
            }
          }
          &.more {
            margin-left: 15px;
            background: linear-gradient(
              to right,
              rgb(3, 159, 203),
              50%,
              rgb(13, 89, 133),
              100%,
              rgb(26, 52, 108)
            );
            &:hover {
              box-shadow: 0 5px 10px 5px rgba(rgb(3, 159, 203), 0.2);
            }
          }
        }
      }
      .right {
        text-align: end;
        img {
          width: 66%;
        }
      }
    }
  }
  // What We Do
  .what-we-do {
    height: 800px;
    display: flex;
    align-items: center;
    .wrapper {
      display: flex;
      height: 90%;
      flex-flow: column;
      align-items: center;
      justify-content: space-between;
      .top {
        text-align: center;
        p:first-child {
          color: rgb(250, 128, 134);
        }
      }
      .main {
        ul {
          display: flex;
          justify-content: space-evenly;
          text-align: center;
          .card {
            display: flex;
            padding-top: 120px;
            width: 300px;
            position: relative;
            border: none;
            align-items: center;
            &:hover {
              color: white;
              background: linear-gradient(
                to bottom,
                rgb(15, 37, 125),
                50%,
                rgb(7, 13, 70),
                100%,
                rgb(0, 0, 57)
              );
              .btn {
                display: block;
                position: absolute;
                color: white;
                top: 254px;
                width: max-content;
                border-radius: 50%;
                border: none;
                padding: 10px 15px;
                background: linear-gradient(
                  to left,
                  rgb(255, 101, 108),
                  50%,
                  rgb(166, 49, 84),
                  100%,
                  rgb(151, 32, 101)
                );
              }
              border-radius: 20px;
              box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
              img {
                background-color: white;
                border-radius: 20px;
                box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
              }
            }
            img {
              position: absolute;
              bottom: 170px;
              padding: 30px;
              max-width: 192px;
            }
            h4 {
              font-size: 20px;
              margin-bottom: 20px;
              display: flex;
              justify-content: center;
              align-content: center;
              font-weight: bold;
            }
            p {
              max-width: 192px;
              font-size: 12px;
              margin-bottom: 40px;
            }
            .btn {
              display: none;
            }
          }
        }
      }
      .bottom {
        div {
          .btn {
            color: white;
            font-size: smaller;
            padding: 7px 26px;
            border: none;
            border-radius: 30px;
            box-shadow: 2px 2px 10px 5px rgba(255, 136, 142, 0.5);
            background: linear-gradient(
              to left,
              rgb(255, 101, 108),
              50%,
              rgb(166, 49, 84),
              100%,
              rgb(151, 32, 101)
            );
          }
        }
      }
    }
  }
}
