body {
  font-family: "Roboto", sans-serif;
  // Jumbotron
  .jumbo {
    display: flex;
    background: linear-gradient(
      to bottom,
      rgb(10, 25, 82),
      50%,
      rgb(5, 10, 52),
      100%,
      rgb(0, 0, 17)
    );
    .container {
      margin-bottom: 120px;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
        color: white;
        max-width: 340px;
        h1 {
          font-weight: 600;
        }
        h2 {
          font-size: 40px;
        }
        p {
          max-width: 320px;
          margin: 20px 0;
          color: rgb(5, 108, 155);
          font-size: 12px;
        }
        .btn {
          color: white;
          font-size: smaller;
          padding: 7px 26px;
          border: none;
          border-radius: 30px;
          &.try {
            background: linear-gradient(
              to left,
              rgb(255, 101, 108),
              50%,
              rgb(166, 49, 84),
              100%,
              rgb(151, 32, 101)
            );
            &:hover {
              box-shadow: 0 5px 10px 5px rgba(255, 101, 109, 0.2);
            }
          }
          &.more {
            margin-left: 15px;
            background: linear-gradient(
              to right,
              rgb(3, 159, 203),
              50%,
              rgb(13, 89, 133),
              100%,
              rgb(26, 52, 108)
            );
            &:hover {
              box-shadow: 0 5px 10px 5px rgba(rgb(3, 159, 203), 0.2);
            }
          }
        }
      }
      .right {
        text-align: end;
        img {
          width: 66%;
        }
      }
    }
  }
  // What We Do
  .what-we-do {
    height: 800px;
    display: flex;
    align-items: center;
    .wrapper {
      display: flex;
      height: 90%;
      flex-flow: column;
      align-items: center;
      justify-content: space-between;
      // Top section
      .top {
        text-align: center;
        p:first-child {
          color: rgb(250, 128, 134);
        }
        p:last-child {
          font-size: 13px;
        }
      }
      // Middle section
      .main {
        ul {
          display: flex;
          justify-content: space-evenly;
          text-align: center;
          .card {
            display: flex;
            padding-top: 120px;
            width: 300px;
            position: relative;
            border: none;
            align-items: center;
            &:hover {
              color: white;
              background: linear-gradient(
                to bottom,
                rgb(15, 37, 125),
                50%,
                rgb(7, 13, 70),
                100%,
                rgb(0, 0, 57)
              );
              .btn {
                display: block;
                position: absolute;
                color: white;
                top: 254px;
                width: max-content;
                border-radius: 50%;
                border: none;
                padding: 10px 15px;
                background: linear-gradient(
                  to left,
                  rgb(255, 101, 108),
                  50%,
                  rgb(166, 49, 84),
                  100%,
                  rgb(151, 32, 101)
                );
              }
              border-radius: 20px;
              box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
              img {
                background-color: white;
                border-radius: 20px;
                box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
              }
            }
            img {
              position: absolute;
              bottom: 170px;
              padding: 30px;
              max-width: 192px;
            }
            h4 {
              font-size: 20px;
              margin-bottom: 20px;
              display: flex;
              justify-content: center;
              align-content: center;
              font-weight: bold;
            }
            p {
              max-width: 192px;
              font-size: 12px;
              margin-bottom: 40px;
            }
            .btn {
              display: none;
            }
          }
        }
      }
      // Bottom section
      .bottom {
        div {
          .btn {
            color: white;
            font-size: smaller;
            padding: 7px 26px;
            border: none;
            border-radius: 30px;
            box-shadow: 2px 2px 10px 5px rgba(255, 136, 142, 0.5);
            background: linear-gradient(
              to left,
              rgb(255, 101, 108),
              50%,
              rgb(166, 49, 84),
              100%,
              rgb(151, 32, 101)
            );
          }
        }
      }
    }
  }
  // Grow Your Business
  .planning {
    display: flex;
    justify-content: center;
    background: linear-gradient(
      to bottom,
      rgb(10, 25, 82),
      50%,
      rgb(5, 10, 52),
      100%,
      rgb(0, 0, 17)
    );
    .container {
      margin: 100px 0;
      padding: 0;
      display: flex;
      align-items: center;
      // gap: 200px;
      .text {
        color: white;
        max-width: 380px;
        h1 {
          font-weight: 600;
        }
        h2 {
          font-size: 40px;
        }
        p {
          margin: 25px 0;
          color: rgb(5, 108, 155);
          font-size: 12px;
        }
        p:first-of-type {
          margin: 20px 0;
          color: white;
        }
        .btn {
          color: white;
          font-size: smaller;
          padding: 7px 26px;
          border: none;
          border-radius: 30px;
          &.try {
            background: linear-gradient(
              to left,
              rgb(255, 101, 108),
              50%,
              rgb(166, 49, 84),
              100%,
              rgb(151, 32, 101)
            );
            &:hover {
              box-shadow: 0 5px 10px 5px rgba(255, 101, 109, 0.2);
            }
          }
          &.more {
            margin-left: 15px;
            background: linear-gradient(
              to right,
              rgb(3, 159, 203),
              50%,
              rgb(13, 89, 133),
              100%,
              rgb(26, 52, 108)
            );
            &:hover {
              box-shadow: 0 5px 10px 5px rgba(rgb(3, 159, 203), 0.2);
            }
          }
        }
      }
    }
    .image {
      margin-left: 100px;
      .primary {
        padding-top: 45px;
        padding-left: 50px;
        width: 66%;
        background-image: url(/public/img/nemoodar.png);
        background-position: top left;
        background-repeat: no-repeat;
        background-size: 90% auto;
      }
    }
  }
  // Prices
  .prices {
    background: linear-gradient(
      to right,
      rgb(10, 25, 82),
      50%,
      rgb(5, 10, 52),
      100%,
      rgb(0, 0, 17)
    );
    height: 500px;
    margin-bottom: 300px;
    display: flex;
    align-items: center;
    .wrapper {
      display: flex;
      height: 90%;
      flex-flow: column;
      align-items: center;
      justify-content: space-between;
      // Top section
      .top {
        margin-bottom: 40px;
        color: white;
        text-align: center;
        p:first-child {
          color: rgb(250, 128, 134);
        }
        p:last-child {
          max-width: 500px;
          font-size: 13px;
        }
      }
      // Middle section
      .main-card {
        ul {
          display: flex;
          justify-content: center;
          gap: 50px;
          text-align: center;
          .card {
            display: flex;
            font-size: 0.8rem;
            padding: 30px;
            width: 300px;
            position: relative;
            border: none;
            border-radius: 15px;
            align-items: center;
            box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.1);
            .background {
              width: max-content;
              position: absolute;
              bottom: 255px;
              left: 87px;
              z-index: 1;
              color: rgba(0, 0, 0, 0.1);
              font-size: 200px;
              font-weight: 800;
              margin: 0;
              padding: 0;
            }
            .month {
              margin-bottom: 30px;
            }
            .price {
              width: max-content;
              font-size: 60px;
              font-weight: 900;
            }
            .list {
              display: block;
              list-style: none;
              color: gray;
              li {
                margin: 4px 0;
                strong {
                  color: black;
                }
              }
              li:last-child {
                margin-bottom: 40px;
              }
            }
            button {
              display: flex;
              gap: 30px;
              font-size: 12px;
              font-weight: 600;
              color: white;
              width: max-content;
              border: none;
              border-radius: 20px;
              padding: 5px 20px;
              background: linear-gradient(
                to bottom,
                rgb(255, 101, 108),
                50%,
                rgb(166, 49, 84),
                100%,
                rgb(151, 32, 101)
              );
              box-shadow: 0 5px 10px 5px rgba(255, 101, 109, 0.2);
            }
            &:hover {
              color: white;
              background: linear-gradient(
                to bottom,
                rgb(195, 46, 120),
                50%,
                rgb(252, 102, 142),
                100%,
                rgb(232, 101, 109)
              );
              button {
                color: rgb(250, 137, 143);
                background: white;
              }
              ul {
                li,
                strong {
                  color: white;
                }
              }
            }
            h4 {
              margin-bottom: 10px;
              font-weight: bolder;
            }
          }
        }
      }
    }
  }
  // Blog
  .blog {
    margin-bottom: 100px;
    .top {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
      text-align: center;
      p:first-child {
        color: rgb(250, 128, 134);
      }
      p:last-child {
        max-width: 500px;
        font-size: 13px;
      }
    }
    .main-cards {
      font-size: 0.8rem;
      display: flex;
      justify-content: center;
      .card.row {
        position: relative;
        border: none;
        display: flex;
        justify-content: space-around;
        .card {
          color: white;
          height: 320px;
          margin: 0 25px;
          padding: 20px 50px;
          width: 300px;
          border-radius: 20px;
          gap: 10px;
          background: linear-gradient(
            to top left,
            rgb(10, 25, 82),
            50%,
            rgb(5, 10, 52),
            100%,
            rgb(0, 0, 17)
          );
          .info {
            margin-top: 20px;
            display: flex;
            color: lightgray;
            i {
              font-size: 0.2rem;
              height: 1px;
              line-height: 20px;
              margin: 0 10px;
            }
          }
          .title {
            font-weight: bolder;
          }
          .desc {
            color: lightgray;
            display: flex;
          }
          button {
            position: absolute;
            bottom: 30px;
            width: 120px;
            height: max-content;
            padding: 5px 15px;
            border: none;
            border-radius: 20px;
          }
        }
        &:hover {
          width: 600px;
          margin: 0 30px;
          .card {
            width: 100%;
          }
        }
      }
    }
  }
}
